/* Custom */

* {
  outline: none;
}

// Sweetalert2
.swal2-container {
  .swal2-popup {
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: none !important;
  }
}

// Table
#search-box {
  margin-bottom: 0.5rem;
  @media (min-width: 768px) {
    float: right !important;
  }
}
#filters {
  button,
  input,
  select {
    margin: 0 0.1rem 0.5rem 0.1rem;
    width: unset;
  }
}
.table-responsive {
  margin-bottom: 0;
  white-space: nowrap;
  .table {
    td, th {
      padding: .5rem;
    }
    tfoot > tr {
      th, td {
        &:first-of-type {
          padding-left: 1.5rem;
        }
      }
    }
  }
}
.table-disabled {
  div {
    pointer-events: none;
    filter: alpha(opacity=65);
    opacity: 0.65;
  }
}
.select {
  width: 5%;
  .custom-control-label:before {
    background-color: #fff;
    box-shadow: unset;
  }
}
.actions {
  width: 30%;
  .btn-actions {
    display: flex;
    justify-content: flex-end;
    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff !important;
      margin-left: 5px;
      i {
        margin-right: 2px;
      }
    }
  }
}
.pagination {
  margin: 0.5rem 0;
  justify-content: center;
  @media (min-width: 576px) {
    justify-content: flex-end;
  }
}

// Modal
.modal-dialog {
  #modal-btn {
    display: flex;
    justify-content: flex-end;
    padding-top: 0.5rem;
    .btn:first-child {
      margin-right: 0.5rem;
    }
  }  
}

// Inputs
select.custom-select-sm {
  padding-top: 0.2rem;
  font-size: unset;
}
input[type="text"].form-control-sm {
  font-size: unset;
}
